---
import "@fontsource-variable/inter";
import avatar from "./../robertvh.png?url";

const projects = [
  {
    name: "FirstLook.gg",
    description: "SaaS Startup helping studios onboard new players to their playtests.",
    link: "https://firstlook.gg",
    label: "Co-founder 2024 - present",
  },
  {
    name: "The Casuals",
    description: "Collective of indie devs building gaming tools and online communities.",
    link: "https://casuals.co",
    label: "Partner",
  },
  {
    name: "AoE4 World",
    description: "Community Website for Age of Empires IV with 12+ million pageviews per year.",
    link: "https://aoe4world.com",
    label: "Co-creator",
  },
  {
    name: "Crowded",
    description: "Enterprise Software for building online customer communities.",
    link: "https://crowded.co",
    label: "Co-founder 2014 - present",
  },
  {
    name: "MastoMetrics",
    description: "Simple Account Analytics for Mastodon.",
    link: "https://mastometrics.com",
    label: "Creator",
  },
  {
    name: "Young Creators",
    description: "Dutch community for young enterpreneurs and creative talent.",
    link: "https://youngcreators.com",
    label: "Founder 2012 - 2018",
  },
  {
    name: "Playstormgate.com",
    description: "Official website for the RTS game Stormgate from Frost Giant Studios.",
    link: "https://playstormgate.com",
    label: "Client Work",
  },
  {
    name: "Woodify",
    description: "Consumer brand pioneering Wooden Sunglasses in the Dutch Market.",
    label: "Co-founder 2013 - 2016",
  },
];

const socials = [
  {
    label: "github",
    username: "robertvanhoesel",
    link: "https://github.com/robertvanhoesel",
  },
  {
    label: "discord",
    username: "robbietron",
    link: "https://discord.com/users/836650704671211562",
  },
  {
    label: "x",
    username: "@robertvhoesel",
    link: "https://x.com/robertvhoesel",
  },
  {
    label: "linkedin",
    link: "https://linkedin.com/in/robertvanhoesel",
    username: "robertvanhoesel",
  },
  {
    label: "reddit",
    username: "robertvhaha",
    link: "https://reddit.com/user/robertvhaha",
  },
  {
    label: "mastodon",
    username: "@robertvh@mas.to",
    link: "https://mas.to/@robertvh",
  },
  {
    label: "spotify",
	link: "https://open.spotify.com/user/cqnd4ziis59gx322qmatyazz7"
  }
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Robert van Hoesel</title>
	<meta name="description" content="Indie web developer with a passion for gaming and online communities." />
  </head>
  <body class="flex flex-col items-center bg-black p-6 font-sans text-white">
    <div class="mx-auto max-w-screen-sm space-y-24 py-24">
      <section class="flex gap-8 flex-col">
		<img src={avatar} alt="Robert van Hoesel" class="size-24 rounded " />
		<div>
			<h1 class="mb-2 text-2xl font-semibold">Robert van Hoesel</h1>
			<p class="text-base text-gray-200">
				Indie web developer with a passion for gaming and online communities.
			</p>
		</div>
      </section>
      <section>
        <h2 class="mb-8 text-base font-semibold text-gray-600">Things I made</h2>
        <ul class="space-y-12">
          {
            projects.map((project) => (
              <li class="space-y-2">
                <h3 class="mb-2 text-base font-semibold text-white">
                  {project.link ? (
                    <a href={project.link} target="_blank" class="group/link">
                      <span class="underline-offset-4 group-hover/link:underline">{project.name}</span>
                      <span class="relative -bottom-0.5 text-gray-700">↗</span>
                    </a>
                  ) : (
                    project.name
                  )}
                </h3>
                <p class="mb-4 text-base text-gray-200">{project.description}</p>
                <p class="mb-4 text-base text-gray-500">{project.label}</p>
              </li>
            ))
          }
        </ul>
      </section>
      <section>
        <h2 class="mb-4 text-base font-semibold text-gray-600">Work with me</h2>
        <p class="mb-2 text-base text-gray-200">Very occasionally available for freelance engagements.</p>
        <p class="mb-4 text-base text-gray-200">I am interested in projects where I can utilize my experience:</p>
        <ul
          class="space-y-1 pl-0 text-gray-200 [&>*]:relative [&>*]:pl-4 [&>*]:before:absolute [&>*]:before:left-0 [&>*]:before:content-['–']"
        >
          <li>Web development utilizing Astro, SolidJs and Tailwind</li>
          <li>Online Communities and user generated content platforms</li>
          <li>Gaming Communities, RTS Games, game APIs and data</li>
          <li>B2B SaaS and product design</li>
        </ul>
      </section>
      <section>
        <h2 class="mb-4 text-base font-semibold text-gray-600">Connect</h2>
        <p class="group/email mb-4 flex items-center gap-2 text-base text-gray-200">
          <a href="mailto:contact@robertvh.me" class="underline-offset-4 hover:underline">contact@robertvh.me</a>
          <button class="hidden text-xs font-semibold text-gray-600 group-hover/email:block" id="copy-email"
            >copy?</button
          >
        </p>
        <p class="mb-4 flex flex-wrap items-center gap-x-4 gap-y-1 text-base text-gray-200">
          {
            socials.map((social) => (
              <a href={social.link} target="_blank" class="group/link relative" rel="me">
                <strong class="font-semibold underline-offset-4 group-hover/link:underline">{social.label}</strong>
                {social.username && (
                  <span class="pointer-events-none absolute z-10 hidden bg-black text-gray-400 group-hover/link:block whitespace-nowrap">
                    <span class="-ml-0.5 pr-0.5 text-gray-600 font-bold">/</span>
                    {social.username}
                  </span>
                )}
              </a>
            ))
          }
        </p>
      </section>
    </div>
  </body>
</html>

<script>
  const copyEmailButton = document.getElementById("copy-email");
  copyEmailButton?.addEventListener("click", () => {
    navigator.clipboard.writeText("contact@robertvh.me");
    copyEmailButton.textContent = "✓ copied";
  });
</script>
